<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Expocaccer</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
</head>
<body>


	<div class="container" style="position:relative; top:5%; ">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
				<div class="card">
				  <div class="card-body">
				  		<div class="container-fluid">
				  			<div class="row" style="text-align: center;">
				  				<div class="col-lg-12 col-xl-12">
				  					<img src="http://images.lisko.com.br/logo_expocaccer_small.png" class="img-fluid" alt="Responsive image">
				  				</div>
				  			</div>
				  			<br />
				  			<br />
				  			<br />
				  			<div class="row">
				  				<div class="col-lg-12 col-xl-12" style="font-size: 12px;">
				  					<a> Patrocínio, 31 de Maio de 2018 </a>
				  					<br />
						  			<br />
						  			<br />
						  			<a> Prezado(a) cliente. </a>
						  			<br />
						  			<br />
						  			<br />
				  				</div>
				  			</div>
				  			<div class="row">
				  				<div class="col-lg-12 col-xl-12" style="text-align: justify; font-size: 12px;">
				  					<a> Viemos por meio desta, lembrar da existência de títulos em aberto que vencerão na data de amanhã. Caso o pagamento já tenha sido efetuado, por favor, desconsidere esta mensagem.</a>
				  				</div>
				  			</div>
				  			<br />
				  			<br />
				  			<div class="row">
				  				<div class="col-lg-12 col-xl-12" style="font-size: 12px;">
				  					<a style="font-weight: bold; text-decoration: underline; font-size:14px;"> Este e-mail é apenas informativo. </a>
				  					<br />
						  			<br />
				  				</div>
				  			</div>
				  			<br />

				  			<div class="row">
				  				<div class="col-lg-12 col-xl-12" style="font-size: 12px;">
				  					<a> Qualquer dúvida, estamos à disposição através dos contatos abaixo. </a>
				  					<br />
									<br />
									<a> E-mail: financeiro@expocaccer.com.br</a><br />
									<a> Telefone: (34) 3839-9300 - Ramal: 9026</a><br />
									<br />
									<br />
						  			<a> Atenciosamente, </a>
						  			<br />
						  		</div>
						  	</div>
						  	<div class="row">
						  		<div class="col-lg-12 col-xl-12" style="font-size: 12px;">
						  			<img src="http://images.lisko.com.br/IMG_11062018_163932_0.png" class="img-fluid" alt="Responsive image">
						  		</div>
						  	</div>
						  	<div class="row">
						  		<div class="col-lg-12 col-xl-12" style="font-size: 12px;">
						  			<a> EXPOCACCER COOPERATIVA DOS CAFEICULTORES DO CERRADO LTDA </a><br />
									<a>	DEPARTAMENTO FINANCEIRO </a> <br />
									<a> TELEFONE: (34) 3839-9300 - Ramal 9026 </a>
									<br />
									<br />
				  				</div>
				  			</div>
				  		</div>
				  </div>
				</div>
			</div>
	   </div>
	</div>

    
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
	<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
 
</body>
</html>





